{% extends '@cms/layout/cms.twig' %}

{% if pluralName is not defined %}
	{% set pluralName = repository.getEntityHumanName({plural: true}) %}
{% endif %}

{% if title is not defined %}
	{% set title = 'List ' ~ pluralName %}
{% endif %}

{% set childNodes = node.visibleChildNodes %}

{% block title %}{{ title }} | {{ parent() }}{% endblock %}

{% block content %}

	<h1>{{ title }}</h1>

	{% include '@cms/element/nav_repository' %}

	{{ table( paginator ) }}

	{{ paginator_links( paginator ) }}

{% endblock %}