{% extends 'layout/standard' %}

{% block title %}{% if title is defined %}{{ title }} | {% endif %}CMS | {{ parent() }}{% endblock %}

{% block stylesheets %}

	{{ parent() }}

	<link rel="stylesheet" type="text/css" href="{{ asset_url('css_cms_header') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset_url('css_cms_main') }}" />

	{{ block('cms_header_stylesheets') }}

{% endblock stylesheets %}

{% block javascripts_head %}

	{{ parent() }}

	<script>
		require(['cms/main']);
	</script>

{% endblock javascripts_head %}

{% block header %}{% endblock %}

{% block container %}

	{% include '@cms/element/header' %}

	{{ flash() }}

	<section id="main">

		{% block main %}

		{% block content %}{% endblock %}

		{% endblock main %}

	</section>

	{% if block('footer') is not empty %}
	<footer>

		{% block footer %}{% endblock %}

	</footer>
	{% endif %}

{% endblock container %}

{% block javascripts %}

	{{ parent() }}

	{{ block('cms_header_javascripts') }}

{% endblock javascripts %}