{% extends "layout/standard" %}

{% block title %}{% if title is defined %}{{ title }} | {% endif %}CMS | {{ parent() }}{% endblock %}

{% block stylesheets %}

	{{ parent() }}

	<link rel="stylesheet" type="text/css" href="{{ asset_url('css_cms') }}"/>

{% endblock stylesheets %}

{% block header %}{% endblock %}

{% block container %}

	{% include '@cms/element/header' %}

	{{ flash() }}

	<section id="main">

		{% block main %}

		{% block content %}{% endblock %}

		{% endblock main %}

	</section>

	{% if block('footer') is not empty %}
	<footer>

		{% block footer %}{% endblock %}

	</footer>
	{% endif %}

{% endblock container %}

{% block javascripts %}

	{{ parent() }}

	<script src="{{ asset_url('js_cms') }}"></script>

{% endblock javascripts %}