{% extends "@admin/layout/admin.twig" %}
{% form_theme form "@admin/form/cms.twig" %}

{% block title %}Add {{ repository.singularHumanName }} | {{ parent() }}{% endblock %}

{% block content_header %}

	<h1>Add {{ repository.singularHumanName }}</h1>

	<a href="{{ admin_url( repository, 'index' ) }}">List {{ repository.pluralHumanName }}</a>

{% endblock %}

{% block content_inner %}

	{{ form( form ) }}

{% endblock %}
