{% extends "@admin/layout/admin.twig" %}
{% form_theme form "@admin/form/cms.twig" %}

{% block title %}Edit {{ repository.singularHumanName }} | {{ parent() }}{% endblock %}

{% block content_header %}

	<h1>Edit {{ repository.singularHumanName }}</h1>

	<a href="{{ admin_url( repository, 'index' ) }}">List {{ repository.pluralHumanName }}</a>

	<a href="{{ admin_url( repository, 'add' ) }}">Add new {{ repository.singularHumanName }}</a>

{% endblock %}

{% block content_inner %}

	{{ form( form ) }}

{% endblock %}
