{% extends "@admin/layout/admin.twig" %}
{% table_theme '@admin/block/table.twig' %}

{% block title %}List {{ dataType.pluralHumanName }} | {{ parent() }}{% endblock %}

{% block content %}

	<h1>{{ dataType.pluralHumanName }}</h1>

	<a href="{{ admin_url( dataType, 'add' ) }}">Add new {{ dataType.singularHumanName }}</a>

	{{ table( paginator ) }}

	{{ paginator.total }}

{% endblock %}