{% extends '@admin/layout/admin.twig' %}

{% block title %}List {{ repository.pluralHumanName }} | {{ parent() }}{% endblock %}

{% block content %}

	<h1>{{ repository.pluralHumanName }}</h1>

	<a href="{{ admin_url( repository, 'add' ) }}">Add new {{ repository.singularHumanName }}</a>

	{{ table( paginator ) }}

	{{ paginator_links( paginator ) }}

{% endblock %}