{% use "form/default" %}

{% block form_widget_compound %}
	{% spaceless %}
		{% if form.parent is empty %}
			{{ form_errors(form) }}
		{% endif %}
		{{ block('form_rows') }}
		{{ form_rest(form) }}
	{% endspaceless %}
{% endblock form_widget_compound %}

{% block form_row %}
	{% spaceless %}
		{% if(is_group is not defined) %}
			{% set is_group = compound ? (formType not in ['date', 'datetime']) : false %}
		{% endif %}
		<div class="form_{% if is_group %}group{% else %}row{% endif %} type_{{ formType }} name_{{ name }}{% if required and not is_group %} required{% endif %}" data-type="{{ formType }}" data-name="{{ name }}">
			{{ form_label(form) }}
			{{ form_errors(form) }}
			{% if not is_group %}<div class="widget">{% endif %}
				{{ form_widget(form) }}
			{% if not is_group %}</div>{% endif %}
		</div>
	{% endspaceless %}
{% endblock form_row %}

{% block button_row %}
	{% spaceless %}
		<div class="button_row name_{{ name }}">
			{{ form_widget(form) }}
		</div>
	{% endspaceless %}
{% endblock button_row %}
