{% extends "layout/standard.twig" %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset_url('css_admin') }}" />

{% endblock %}

{% block header %}
	<h1>{{ app_name }} Admin</h1>
{% endblock %}

{% block javascripts %}

	{{ parent() }}

    <script src="{{ asset_url('js_admin') }}"></script>

{% endblock %}