{% block list %}
	{% if node.areChildrenOrdered %}<ol>{% else %}<ul>{% endif %}
		{% for childNode in node.childNodes %}
		{{ list_item( childNode ) }}
		{% endfor %}
	{% if not node.areChildrenOrdered %}</ul>{% else %}</ol>{% endif %}
{% endblock list %}

{% block list_item %}
	<li>
		{{ list_item_value( node ) }}
	</li>
{% endblock list_item %}

{% block list_item_value %}
	{% if node.url is not empty %}
		{% block list_item_value_link %}<a href="{{ node.url }}">{{ node.label|default('') }}</a>{% endblock %}
	{% else %}
		{% block list_item_value_plain %}{{ node.label|default('') }}{% endblock %}
	{% endif %}
	{% if node.childNodes is not empty %}
		{{ list( node ) }}
	{% endif %}
{% endblock list_item_value %}