{% block list %}
	{% if node.areChildrenOrdered %}<ol>{% else %}<ul>{% endif %}
		{% for childNode in node.children %}
		{{ list_item( childNode, theme ) }}
		{% endfor %}
	{% if not node.areChildrenOrdered %}</ul>{% else %}</ol>{% endif %}
{% endblock list %}

{% block list_item %}
	{% block list_item_tag %}<li>{% endblock %}
		{{ list_item_value( node, theme ) }}
	{% block list_item_closing_tag %}</li>{% endblock %}
{% endblock list_item %}

{% block list_item_value %}
	{% if node.url is not empty %}
		{% block list_item_value_link %}<a href="{{ node.url }}">{{ node.label|default('') }}</a>{% endblock %}
	{% else %}
		{% block list_item_value_plain %}{{ node.label|default('') }}{% endblock %}
	{% endif %}
	{% if node.children is not empty %}
		{{ list( node, theme ) }}
	{% endif %}
{% endblock list_item_value %}