{% block paginator_count %}
{% spaceless %}
Page {{ paginator.currentPage|number_format }} of {{ paginator.pageCount|number_format }}, showing {{ paginator.perPage|number_format }} of {{ paginator.total|number_format }} results
{% endspaceless %}
{% endblock paginator_count %}

{% block paginator_links %}
{% spaceless %}
	{% if paginator.pageCount > 1 %}
		<nav class="pagination">
			{% block paginator_nav %}
				<ul>
					{% if paginator.currentPage > 1 %}
						<li class="first">{{ paginator_first( paginator ) }}</li>
					{% endif %}
					{% if paginator.currentPage > 2 %}
						<li class="prev">{{ paginator_prev( paginator ) }}</li>
					{% endif %}
					{% set first = max(1, paginator.currentPage - 2) %}
					{% set last = min(paginator.pageCount, paginator.currentPage + 2) %}
					{% for page in first..last %}
						<li class="page page-{{ page }}{% if page == paginator.currentPage %} current{% endif %}">{{ paginator_link( paginator, page ) }}</li>
					{% endfor %}
					{% if paginator.currentPage + 1 < paginator.pageCount %}
						<li class="next">{{ paginator_next( paginator ) }}</li>
					{% endif %}
					{% if paginator.currentPage < paginator.pageCount %}
						<li class="last">{{ paginator_last( paginator ) }}</li>
					{% endif %}
				</ul>
			{% endblock paginator_nav %}
		</nav>
	{% endif %}
{% endspaceless %}
{% endblock paginator_links %}

{% block paginator_link %}
{% spaceless %}
	{% if label is not defined %}
		{% set label = page|number_format %}
	{% endif %}
	{% set link = (page != paginator.currentPage) %}
	{% if link -%}
		<a href="{{ paginator.getUrl(page) }}">
	{%- else -%}
		<span class="label">
	{%- endif %}
	{{- label -}}
	{% if not link -%}
		</span>
	{%- else -%}
		</a>
	{% endif %}
{% endspaceless %}
{% endblock paginator_link %}

{% block paginator_prev %}
{% spaceless %}
	{% if paginator.currentPage > 1 %}
		{% if label is not defined %}
			{% set label = 'Prev' %}
		{% endif %}
		{{ paginator_link( paginator, paginator.currentPage - 1, label ) }}
	{% endif %}
{% endspaceless %}
{% endblock paginator_prev %}

{% block paginator_next %}
{% spaceless %}
	{% if label is not defined %}
		{% set label = 'Next' %}
	{% endif %}
	{{ paginator_link( paginator, paginator.currentPage + 1, label ) }}
{% endspaceless %}
{% endblock paginator_next %}

{% block paginator_first %}
{% spaceless %}
	{% if label is not defined %}
		{% set label = 'First' %}
	{% endif %}
	{{ paginator_link( paginator, 1, label ) }}
{% endspaceless %}
{% endblock paginator_first %}

{% block paginator_last %}
{% spaceless %}
	{% if label is not defined %}
		{% set label = 'Last' %}
	{% endif %}
	{{ paginator_link( paginator, paginator.pageCount, label) }}
{% endspaceless %}
{% endblock paginator_last %}